{% extends "person_site/base.html" %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Резюме</h1>
        </div>
        <div class="site_content">
            <h2>Опыт работы</h2>
            <h2>Freelance-проекты</h2>
            <h2>Образование</h2>
                <h3>Высшее образование</h3>
                <h3>Курсы</h3>
            <h2>Стек технологий</h2>
            <h2>Область интересов</h2>
        </div>
    </div>

{% endblock content %}